<div class="modal disclaimermodal" ng-controller="DisclaimerCtrl">

    <ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button ng-click="closeModalDisclaimer()" class="button button-icon icon ion-ios-arrow-back"></button>
        </div>
        <h1 class="title">Disclaimer MODAL</h1>
    </ion-header-bar>

    <ion-content has-header="true" padding="true">

		<ion-list>
			<div class="item-divider" style="text-align:center;">
				Scroll naar einde om akkoord aan te vinken.<br>
			</div>
			<div class="item item-body">
				<ol style="list-style-type:decimal;font-size:14px;">
					<li><p>In deze disclaimer wordt verstaan onder:</li></p>
						<ul style="list-style-type:circle">
							<li><p>app: de app Tijdreizen in Limburg (TRINL) inclusief alle bijlagen, handleiding, disclaimer en voorwaarden;</li></p>
							<li><p>de uitgever: de bevoegde uitgever van de app zijnde de Stichting Natuur en Milieufederatie Limburg;</li></p>
							<li><p>het gebruik/het gebruiken: alle handelingen door de gebruiker ter functionering van de app zoals inladen, inloggen, opvragen, raadplegen, lezen, bekijken, bewerken, invullen (van formulieren), verzenden, (tijdelijk) kopiëren, bewaren, doorzenden, verspreiden, van diensten gebruik maken, plegen van rechtshandelingen (bijv. kopen, huren);</li></p>
							<li><p>de gebruiker: de al dan niet vertegenwoordigde natuurlijke of rechtspersoon die de app gebruikt;</li></p>
							<li><p>de inhoud: alle teksten, afbeeldingen, hyperlinks en/of andere objecten waarvan de app gebruikmaakt;</li></p>
							<li><p>schade: directe of indirecte schade van welke aard dan ook, onder meer verloren data en zaken, gederfde omzet, winst of ander economisch nadeel.</li></p>
						</ul>
					</li></p>
					<li><p>Deze disclaimer is van toepassing op de app Tijdreizen in Limburg (TRINL). Door de app te gebruiken, stemt de gebruiker in met deze disclaimer.</li></p>
					<li><p>Door het gebruik van de Tranchotkaart (1800) in de app verbindt de gebruiker zich als vriend c.q. sympathisant aan de Stichting Natuur en Milieufederatie Limburg.</li></p>
					<li><p>De gebruiker geeft door registreren/inloggen op de Tranchotkaart (1800) toestemming om per e-mail berichten van de uitgever te ontvangen waar het betreft de app of aanverwante zaken. De gebruiker kan zich ten allen tijde hiervoor schriftelijk afmelden bij de uitgever. De contactgegevens staan op de website van de stichting.</li></p>
					<li><p>De uitgever spant zich ervoor in de inhoud van de app regelmatig te actualiseren en/of aan te vullen. Ondanks deze zorg en aandacht is het mogelijk dat de inhoud onvolledig en/of onjuist is.</li></p>
					<li><p>De uitgever verschaft de inhoud van de app in de staat waarin deze zich feitelijk bevindt, zonder garantie of waarborg ten aanzien van deugdelijkheid, geschiktheid voor een bepaald doel of anderszins. De inhoud is alleen voor particulier gebruik bestemd.</li></p>
					<li><p>De uitgever is niet aansprakelijk voor schade die is of dreigt te worden toegebracht en voortvloeit uit of in enig opzicht verband houdt met de aanschaf en/of het gebruik van de app en/of met de onmogelijkheid de app te kunnen raadplegen.</li></p>
					<li><p>De uitgever mag de app naar eigen inzicht en op ieder door hem gewenst moment (laten) veranderen of beëindigen, met of zonder voorafgaande verwittiging. De uitgever is niet aansprakelijk voor de gevolgen van verandering of beëindiging.</li></p>
					<li><p>Behoudens deze disclaimer is de uitgever niet verantwoordelijk voor aan de app gekoppelde bestanden van derden. Koppeling houdt geen bekrachtiging van die bestanden in.</li></p>
					<li><p>De gebruiker mag de in punt 9 genoemde bestanden op geen enkele wijze gebruiken behoudens via deze app.
					<li><p>Ongeautoriseerd of oneigenlijk gebruik van de app of de inhoud daarvan kan een inbreuk op intellectuele rechten, regelgeving met betrekking tot privacy, publicatie en/of communicatie in de breedste zin van het woord opleveren. De gebruiker is zelf verantwoordelijk voor al hetgeen de gebruiker vanuit de app verzendt en/of hoe de app door de gebruiker wordt toegepast.</li></p>
					<li><p>De uitgever behoudt zich het recht voor om de gebruiker de toestemming te ontzeggen de app te gebruiken en/of van bepaalde diensten die via de app worden aangeboden, gebruik te maken. In aansluiting daarop kan de uitgever de toegang tot de app monitoren.</li></p>
					<li><p>De gebruiker zal de uitgever, diens werknemers, vertegenwoordigers, licentiehouders, handelspartners en de auteur van deze disclaimer beschermen tegen en vrijwaren van gerechtelijke en buitengerechtelijke maatregelen, veroordelingen e.d., inclusief de kosten voor rechtsbijstand, accountants e.d. die door derden zijn ingesteld ten gevolge van of gerelateerd aan het gebruik van de app door de gebruiker, inbreuk op welke wettelijke regeling dan ook of de rechten van derden.</li></p>
					<li><p>De totstandkoming van de app is naar beste weten uitgevoerd. De verwerking van de gegevens van de gebruiker zal met de grootste zorg worden uitgevoerd. De uitgever noch de toeleveranciers kunnen evenwel instaan voor de juistheid en de volledigheid van de informatie op de app en zijn dan ook niet aansprakelijk voor schade die is ontstaan als gevolg van onjuistheid, onvolledigheid of onrechtmatigheid van de informatie die via app wordt aangeboden.</li></p>
					<li><p>De uitgever garandeert een zorgvuldige verwerking van de persoonlijke gegevens van de gebruiker. Deze gegevens zal de uitgever niet met derden delen, tenzij dit bijdraagt aan het verbeteren van de app. De uitgever zet al haar mogelijkheden in om de gegevens van de gebruiker te beveiligen tegen verlies of enige vorm van onrechtmatige verwerking.</li></p>
					<li><p>Bepaalde verwijzingen in de app voeren naar informatiebronnen die door derden worden bijgehouden en/of zijn aangeleverd en waarover de uitgever geen controle heeft. De uitgever draagt derhalve niet de verantwoordelijkheid voor de nauwkeurigheid of enig ander aspect van de informatie in de app.</li></p>
					<li><p>De uitgever is niet aansprakelijk voor het als gevolg van een storing niet toegankelijk c.q. beschikbaar zijn van de app voor de gebruiker.</li></p>
					<li><p>De app maakt gebruik van de GPS-mogelijkheden en de opslagruimte van het mobiele apparaat van de gebruiker. De gebruiker is zelf aansprakelijk dat dit op een juiste wijze gebeurt.</li></p>
					<li><p>De inhoud van de app mag door de gebruiker alleen worden gebruikt voor niet-commerciële doeleinden. Het is de gebruiker van de app niet toegestaan de inhoud van de app te vermenigvuldigen, door te sturen, distribueren, verspreiden of tegen vergoeding beschikbaar te stellen aan derden, zonder voorafgaande uitdrukkelijke schriftelijke toestemming van de uitgever.</li></p>
					<li><p>De uitgever behoudt zich het recht voor om eventuele wijzigingen in de app, de inhoud van de app, de bijlagen, disclaimer en voorwaarden met onmiddellijke ingang en zonder enige kennisgeving aan de gebruiker door te voerennnnnnnn.</li></p></p>
				</ol>
			</div>
            <ion-checkbox ng-model="disclaimer" ng-change="disclaimerConfirmedChange()">
                Ik heb deze disclaimer gelezen
            </ion-checkbox>
		</ion-list>
	</ion-content>
</ion-modal>

