<ion-view title="Foto's selectie">
  <div class="bar bar-subheader">
    <h2 ng-bind-html="subHeader" class="trinl-blauw trinl-subHeader trinl-title-left"></h2>
  </div>
  <ion-nav-buttons side="secondary">
    <button ng-if="isMobile && details.mode == 'foto'" ng-click="maakFoto()"
      class="button button-icon icon ion-camera">&nbsp;&nbsp;Maak foto</button>
  </ion-nav-buttons>
  <img id="imgExport" src="" /> </div>
  <ion-content close-option class="has-header has-subheader" delegate-handle="fotoList">
    <ion-refresher on-refresh="doRefresh()" pulling-text="Laat los om bij te werken..." refreshing-text="Bijwerken!"
      refreshing-icon="ion-loading-c">
    </ion-refresher>
    <ion-list>
      <ion-item item-body
        ng-repeat="foto in ( $parent.filteredFotos = ( data.fotos | orderBy:predicate:reverse | regexStore: 'naam': searchFoto.naam)) | limitTo:showLimit:currentPage*showLimit track by foto.Id.value">
        <div ng-click="clickedFoto(foto)" class="row" ng-if="foto.profiel.value != 'anoniem'">
          <div ng-click="clickedAvatar(foto.gebruikerId.value)" class="col trinl-avatar">
            <i ng-if="foto.avatarInverse.value == '0' && foto.avatarLetter.value == ''"
              class="avatar avatar-color-{{foto.avatarColor.value}}">?</i>
            <i ng-if="foto.avatarInverse.value == '1' && foto.avatarLetter.value == ''"
              class="avatar avatar-inverse avatar-color-{{foto.avatarColor.value}}">?</i>
            <i ng-if="foto.avatarInverse.value == '0' && foto.avatarLetter.value != ''"
              class="avatar avatar-color-{{foto.avatarColor.value}} avatar-letter-{{foto.avatarLetter.value}}"></i>
            <i ng-if="foto.avatarInverse.value == '1' && foto.avatarLetter.value != ''"
              class="avatar avatar-inverse avatar-color-{{foto.avatarColor.value}} avatar-letter-{{foto.avatarLetter.value}}"></i>
          </div>
          <div ng-click="clickedFoto(foto)" class="col trinl-gebruiker-datum-socio-container">
            <div class="row trinl-gebruiker trinl-blauw">{{foto.gebruikerNaam.value}}</div>
            <div class="row trinl-datums-container">
              <div class="trinl-datum"><span class="trinl-blauw">{{foto.createdOn.value}}</span></div>
              <div class="trinl-datum-ago"><span class="trinl-blauw" datum am-time-ago="foto.createdOn.value"></span>
              </div>
            </div>
            <div class="row trinl-socio-container">
              <div class="trinl-socio-icon"
                ng-if="(foto.profiel.value === 'team' || foto.profiel.value === 'developer') && foto.xprive.value && foto.gebruikerId.value === Id">
                <i class="icon socio-red ion-locked"></i>
              </div>
              <div class="trinl-socio-icon"
                ng-if="(foto.profiel.value === 'team' || foto.profiel.value === 'developer') && !foto.xprive.value && foto.gebruikerId.value === Id">
                <i class="icon socio-green ion-unlocked"></i>
              </div>
              <div ng-if="details.gelezen !== 0" class="trinl-socio-icons-aantal">
              <div class="trinl-socio-icontext">&nbsp;{{foto.xData.sup.gelezen.value}}</div>
                <i class="icon socio-black ion-eye"></i>
              </div>
              <div ng-if="foto.xData.sup.xnew.value" class="trinl-socio-spacer-small"></div>
              <div class="trinl-socio-icon"
                ng-if="(foto.profiel.value === 'team' || foto.profiel.value === 'developer') && foto.xData.sup.xnew.value">
                <i class="icon socio-red ion-ios-bell"></i>
              </div>
              <div ng-if="foto.xData.sup.star.value && !foto.xData.sup.xnew.value" class="trinl-socio-spacer-small"></div>
              <div class="trinl-socio-icon" ng-if="foto.xData.sup.star.value">
                <i class="icon socio-orange ion-star"></i>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div ng-click="clickedFoto(foto)" class="row trinl-header-container"
          ng-if="foto.profiel.value == 'anoniem'">
          <div ng-click="clickedAvatar(foto.gebruikerId.value)" class="col trinl-avatar-anoniem">
            <img class="trinl-avatar-anoniem-img" ng-src="images/small_non_existing_id.png">
          </div>
          <div ng-click="clickedFoto(foto)" class="col trinl-gebruiker-datum-socio-container">
            <div class="row trinl-gebruiker trinl-blauw">anoniem</div>
            <div class="row trinl-datums-container">
              <div class="trinl-datum"><span class="trinl-blauw">{{foto.createdOn.value}}</span></div>
              <div class="trinl-datum-ago"><span class="trinl-blauw" datum am-time-ago="foto.createdOn.value"></span>
              </div>
            </div>
            <div class="row trinl-socio-container">
              <div class="trinl-socio-icon"
                ng-if="(foto.profiel.value === 'team' || foto.profiel.value === 'developer') && foto.xprive.value && foto.gebruikerId.value === Id">
                <i class="icon socio-red ion-locked"></i>
              </div>
              <div class="trinl-socio-icon"
                ng-if="(foto.profiel.value === 'team' || foto.profiel.value === 'developer') && !foto.xprive.value && foto.gebruikerId.value === Id">
                <i class="icon socio-green ion-unlocked"></i>
              </div>
              <div ng-if="details.gelezen !== 0" class="trinl-socio-icons-aantal">
                <div class="trinl-socio-icontext">&nbsp;{{foto.xData.sup.gelezen.value}}</div>
                <i class="icon socio-black ion-eye"></i>
              </div>
              <div ng-if="foto.xData.sup.xnew.value" class="trinl-socio-spacer-small"></div>
              <div class="trinl-socio-icon"
                ng-if="(foto.profiel.value === 'team' || foto.profiel.value === 'developer') && foto.xData.sup.xnew.value">
                <i class="icon socio-red ion-ios-bell"></i>
              </div>
              <div ng-if="foto.xData.sup.star.value && !foto.xData.sup.xnew.value" class="trinl-socio-spacer-small"></div>
              <div class="trinl-socio-icon" ng-if="foto.xData.sup.star.value">
                <i class="icon socio-orange ion-star"></i>
              </div>
            </div>
          </div>
        </div>

        <div ng-click="clickedFoto(foto)" class="spacer"></div>
        <div ng-click="clickedFoto(foto)" ng-if="foto.xData.groep != ''" class="trinl-listgroeptext">{{foto.xData.groep}} </div>
        <div ng-click="clickedFoto(foto)" class="trinl-listnaam">{{foto.naam.value}}</div>
        <div ng-click="clickedFoto(foto)" class="spacer"></div>

        <div ng-click="clickedFoto(foto)" class="trinl-tags-list">
          <div class="trinl-tag" ng-repeat="fotoTag in foto.xData.tags track by $index">
            <div ng-if="fotoTag.get('gebruikerId') === ceo.Id">
              <div class="trinl-tags">
                <div class="trinl-tag-icon-left"><i class="ion-pricetag"></i></div>
                <div ng-if="fotoTag.xData.get('Id').length <= 3 && fotoTag.xData.get('gebruikerId') === ''"
                  class="trinl-tag-tekst trinl-blauw">{{fotoTag.xData.get('tag')}}</div>
                <div ng-if="fotoTag.xData.get('Id').length <= 3 && fotoTag.xData.get('gebruikerId') != ''"
                  class="trinl-tag-tekst trinl-rood">{{fotoTag.xData.get('tag')}}</div>
                <div ng-if="fotoTag.xData.get('Id').length >= 3" class="trinl-tag-tekst">{{fotoTag.xData.get('tag')}}</div>
              </div>
            </div>
            <div ng-if="fotoTag.get('gebruikerId') !== ceo.Id">
              <div class="trinl-tags-disabled">
                <div class="trinl-tag-icon-left"><i class="ion-pricetag"></i></div>
                <div ng-if="fotoTag.xData.get('Id').length <= 3 && fotoTag.xData.get('gebruikerId') === ''"
                  class="trinl-tag-tekst trinl-blauw">{{fotoTag.xData.get('tag')}}</div>
                <div ng-if="fotoTag.xData.get('Id').length <= 3 && fotoTag.xData.get('gebruikerId') != ''"
                  class="trinl-tag-tekst trinl-rood">{{fotoTag.xData.get('tag')}}</div>
                <div ng-if="fotoTag.xData.get('Id').length >= 3" class="trinl-tag-tekst">{{fotoTag.xData.get('tag')}}</div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  </ion-nav-view>