<ion-view title="Handleiding">

	<ion-nav-back-button>
	</ion-nav-back-button>

	<ion-content>
		<div class="item item-body">
			<p>Na het opstarten verschijnt het snelmenu in het beeld. Dit snelmeu verdwijnt indien je enkele seconden het snelmenu niet gebruikt hebt. De tijd waarna het snelmenu verwijnt kun je instellen in Instellingen (Hoofdmenu). Indien er geen menu's geopned zijn kun je de kaart verplaatsem en verkleinen/vergoten (knijpen). Je hoeft niet te wachten op het verdwijnen van een menu. Een tik op de kaart en het geopende menu verdwijnt en je kunt meteen de kaart verplaatsen.</p>

			<H3>Navigeer door de app met:</H3>
			<ul style="list-style-type:circle">
				<li><p>Hier vind je de handleidingen, de disclaimer, algemene informatie over de app en de instellingen. Ook het beheer van locaties en sturen van berichten verloopt via het hoofdmenu. In het hoofdmenu kun je ook in- en uitloggen.Je staat nu op hetpunt om uit te loggen!<br><br>Als je uitlogt zijn jouw persoonlijke gegevens (Berichten, Locaties en Tranchot-kaart)<br>beschermd.</p></li>
				<li><p>Snelmenu (rechtsboven). Het snelmenu biedt je de mogelijkheid om de kaartlegenda op te vragen, snel door de kaarten te bladeren, in- en uit te zoomen, de oriëntatieroos uit en aan te zetten, markers te plaatsen en gps te activeren.</p></li>
				<li><p>Kaart opties (rechtsboven). Met de opties kun je de verschillende kaarten en lagen aan- en uitzetten. Vink de kaarten of lagen aan om ze zichtbaar te maken. Gebruik het schuifje om de transparantie van de kaarten aan te passen. Onder de informatiebuttons vind je achtergrondinformatie over de kaarten en lagen. Verder kun je de kaarten vooraf laden zodat je TRINL ook kunt gebruiken zonder internet.</p></li>
				<li><p>zoekscherm voor Nederlandse adressen (rechtsboven). Wanneer je de zoekfunctie gebruikt, wordt een marker geplaatst op de gezochte locatie.</p></li>
				<li><p>oriëntatieroos (midden beeldscherm). De oriëntatie geeft - door gebruik te maken van GPS - de huidige locatie aan. Hiervoor gelden de coördinaten als aangegeven in de statusbalk (linksonder). Je kunt de oriëntatieroos aan- en uitzetten in het snelmenu.</p></li>
				<li><p>zoomlevel (linksonder). Binnen de app kun je met het plus- en minteken (in het snelmenu) inzoomen en uitzoomen van niveaulevel 8 tot en met 15. De kaart uit 1700  is beschikbaar tot en met level 12.</p></li>
				<li><p>registratiescherm. Om gebruik te kunnen maken van de Tranchotkaarten (1800) moet je je eenmalig registreren.</p></li> 

			<H3>Tips</H3>
			<p>Om de performance van TRINL te optimaliseren en te voorkomen dat TRINL traag wordt worden standaard tijdens het gebruik, de kaarten die jij bezocht hebt in het apparaat opgeslagen. Als je van plan bent om TRINL buitenshuis te gebruiken kun je de kaart(en) van het gebied waar je naar toegaat van te voren downloaden (zie Kaartmenu). Hierdoor hoeft TRINL dit niet meer op locatie te doen (3G en 4G zijn immers trager en duurder).</p>
			<p>Standaard worden de kaarten alleen uitsluitend gedownload indien je een internetverbinding over WIFI (bv thuis) hebt. Indien je een grote databundel hebt kun je WIFI ook over 3G/4G downloaden (zie Instellingen).
		</div>
	</ion-content>
</ion-view>