<div class="modal myModal">

	<ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button ng-click="closeModalHeden()" class="button button-icon icon ion-ios-arrow-back"></button>
        </div>
		<h1 class="title">Informatie heden</h1>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<div class="item item-divider">
				Legenda
			</div>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image001.png" class="legenda-verkeer-image"/></div><div class="leg-tekst"><p>Snelweg</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image002.png" class="legenda-verkeer-image"/></div><image002.png><div class="leg-tekst"><p>Autoweg</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image003.png" class="legenda-verkeer-dik-image"/></div><image003.png><div class="leg-tekst"><p>Autoweg</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image004.png" class="legenda-verkeer-image"/></div><image004.png><div class="leg-tekst"><p>Primaire weg</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image005.png" class="legenda-verkeer-dik-image"/></div><image005.png><div class="leg-tekst"><p>Primaire weg</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image006.png" class="legenda-verkeer-image"/></div><image006.png><div class="leg-tekst"><p>Secundaire weg</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image007.png" class="legenda-verkeer-dik-image"/></div><image007.png><div class="leg-tekst"><p>Secundaire weg</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image008.png" class="legenda-verkeer-streep-image"/></div><image008.png><div class="leg-tekst"><p>Spoor</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image009.png" class="legenda-verkeer-streep-image"/></div><image009.png><div class="leg-tekst"><p>Ventweg</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image010.png" class="legenda-verkeer-streep-image"/></div><image010.png><div class="leg-tekst"><p>Fietspad</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image011.png" class="legenda-verkeer-streep-image"/></div><image011.png><div class="leg-tekst"><p>Voetpad</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image012.png" class="legenda-verkeer-streep-image"/></div><image012.png><div class="leg-tekst"><p>Spoor</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image013.png" class="legenda-verkeer-streep-image"/></div><image013.png><div class="leg-tekst"><p>Spoor</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image014.png" class="legenda-luchthaven-image"/></div><image014.png><div class="leg-tekst"><p>Luchthavenplatform<br>en terminal</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image015.png" class="legenda-terrein-image"/></div><image015.png><div class="leg-tekst"><p>Bos</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image016.png" class="legenda-terrein-image"/></div><image016.png><div class="leg-tekst"><p>Bos</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image017.png" class="legenda-terrein-image"/></div><image017.png><div class="leg-tekst"><p>Golfbaan</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image018.png" class="legenda-terrein-image"/></div><image018.png><div class="leg-tekst"><p>Park</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image019.png" class="legenda-terrein-image"/></div><image019.png><div class="leg-tekst"><p>Bewoond gebied</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image020.png" class="legenda-terrein-image"/></div><image020.png><div class="leg-tekst"><p>Toeristische attractie</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image021.png" class="legenda-terrein-image"/></div><image021.png><div class="leg-tekst"><p>Groen</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image022.png" class="legenda-terrein-image"/></div><image022.png><div class="leg-tekst"><p>Industriegebied</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image023.png" class="legenda-terrein-image"/></div><image023.png><div class="leg-tekst"><p>Winkelgebied</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image024.png" class="legenda-terrein-image"/></div><image024.png><div class="leg-tekst"><p>Heide</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image025.png" class="legenda-terrein-image"/></div><image025.png><div class="leg-tekst"><p>Meer en reservoir</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image026.png" class="legenda-terrein-image"/></div><image026.png><div class="leg-tekst"><p>Braakliggend terrein</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image027.png" class="legenda-terrein-image"/></div><image027.png><div class="leg-tekst"><p>Begraafplaats</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image028.png" class="legenda-terrein-image"/></div><image028.png><div class="leg-tekst"><p>Volkstuinen</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image029.png" class="legenda-terrein-image"/></div><image029.png><div class="leg-tekst"><p>Sportveld</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image030.png" class="legenda-terrein-image"/></div><image030.png><div class="leg-tekst"><p>Sportcentrum</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image031.png" class="legenda-terrein-image"/></div><image031.png><div class="leg-tekst"><p>Natuurreservaat</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image032.png" class="legenda-terrein-image"/></div><image032.png><div class="leg-tekst"><p>Militair gebied</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image033.png" class="legenda-terrein-image"/></div><image033.png><div class="leg-tekst"><p>School en universiteit</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image034.png" class="legenda-belangrijk-image"/></div><image034.png><div class="leg-tekst"><p>Belangrijk gebouw</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image035.png" class="legenda-station-image"/></div><image035.png><div class="leg-tekst"><p>Spoorwegstation</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image036.png" class="legenda-station-image"/></div><image036.png><div class="leg-tekst"><p>Top en piek</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image037.png" class="legenda-brug-image"/></div><image037.png><div class="leg-tekst"><p>Brug</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image038.png" class="legenda-toegang-image"/></div><image038.png><div class="leg-tekst"><p>Privétoegang</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image039.png" class="legenda-toegang-image"/></div><image039.png><div class="leg-tekst"><p>Beperkte toegang</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image040.png" class="legenda-toegang-image"/></div><image040.png><div class="leg-tekst"><p>Bestemmingsverkeer</p></div>
			</ion-item>
			<ion-item item="item">
				<div><img ng-src="images/legendaOSM/image041.png" class="legenda-toegang-image"/></div><image041.png><div class="leg-tekst"><p>Weg in aanbouw</p></div>
			</ion-item>
			<div class="item item-divider">
				Bronvermelding
			</div>
			<ion-item item="item">
				<p>OpenStreetMap &copy;</p>
			</ion-item>
		</ion-list>
	</ion-content>

</div>
