<ion-view title="Instellingen">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-nav-buttons side="secondary">
    <button ng-click="snelMenuOpen()" class="button button-icon icon ion-android-more-vertical"></button>
    <button ng-click="openKaartOpties($event)" class="button button-icon icon ion-map"></button>
  </ion-nav-buttons>
  <ion-content scroll="true" class="has-header">
    <ion-list>
      <div class="item item-divider">
        <div>Kaarten</div>
      </div>
      <div class="item range"> &nbsp;Snelmenu open&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="range" name="stayOpenTime"
          min="2" max="20" value="{{stayOpenTime.value}}" ng-model="stayOpenTime.value">
        <i class="icon ion-ios-clock-outline"></i>
        <div style="width:48px">&nbsp;{{stayOpenTimeLevel}}&nbsp;sec</div>
      </div>
      <label class="item item-input item-select">
        <div class="input-label"> Snelmenu positie </div>
        <select ng-model="snelMenuPos" ng-change="snelMenuPosChange(snelMenuPos)">
          <option value='links'>Links</option>
          <option value='rechts'>Rechts</option>
        </select>
      </label>
      <div class="item range"> &nbsp;Adres zoeken open <input type="range" name="stayOpenTimeGeoSearch" min="2" max="20"
          value="{{stayOpenTimeGeoSearch.value}}" ng-model="stayOpenTimeGeoSearch.value">
        <i class="icon ion-ios-clock-outline"></i>
        <div style="width:48px">&nbsp;{{stayOpenTimeGeoSearchLevel}}&nbsp;sec</div>
      </div>
      <div class="item range"> &nbsp;Min. transparantie&nbsp; <input type="range" name="minOpacity" min="25" max="75"
          value="{{minOpacity.value}}" ng-model="minOpacity.value">
        <i class="icon ion-ios-sunny-outline"></i>
        <div style="width:48px">&nbsp;{{+minOLevel}}&nbsp;%</div>
      </div>
      <ion-toggle ng-model="orientatieroosDefault.checked" ng-change="orientatieroosDefaultChange()">Orientatieroos bij
        opstarten uit</ion-toggle>
      <div class="item item-divider">
        <div>Lagen</div>
      </div>
      <ion-toggle ng-model="provinciegrensDefault.checked" ng-change="provinciegrensDefaultChange()">Provinciegrens bij
        opstarten aan</ion-toggle>
      <div class="item item-divider">
        <div>Notificaties</div>
      </div>
      <ion-toggle ng-model="notification.checked" ng-change="notificationChange()">Notificatie</ion-toggle>
      <ion-toggle ng-model="notifyVibrate.checked" ng-change="notifyVibrateChange()">Notificatie trillen</ion-toggle>
      <ion-toggle ng-model="notifySound.checked" ng-change="notifySoundChange()">Notificatie geluid</ion-toggle>
      <div class="item range"> &nbsp;Volume geluid&nbsp;&nbsp; <i class="icon ion-volume-low"></i>
        <input type="range" name="notifyVolume" min="0" max="100" value="{{notifyVolume.value}}"
          ng-model="notifyVolume.value">
        <i class="icon ion-volume-high"></i>
        <div style="width:48px">&nbsp;{{notifyVolumeLevel}}&nbsp;%</div>
      </div>
      <div ng-if="isMobile">
        <div class="item item-divider">
          <div>GPS</div>
        </div>
        <ion-toggle ng-model="gpsDefault.checked" ng-change="gpsDefaultChange()">GPS volgen bij opstarten</ion-toggle>
        <ion-toggle ng-model="gpsVolgen.checked" ng-change="gpsVolgenChange()">Kaart volgt GPS</ion-toggle>
        <ion-toggle ng-model="gpsEnableHighAccuracy.checked" ng-change="gpsEnableHighAccuracyChange()">Hoge nauwkeurigheid
        </ion-toggle>
        <div ng-if="profielId === '5'" class="item item-divider">
          <div>Tracking (sporen)</div>
        </div>
        <label ng-if="profielId === '5'" class="item item-input item-select">
          <div class="input-label"> Nauwkeurigheid </div>
          <select ng-model="accuracy" ng-change="accuracyChange(accuracy)">
            <option value=0>0</option>
            <option value=10>10</option>
            <option value=100>100</option>
            <option value=1000>1000</option>
          </select>
        </label>
        <label ng-if="profielId === '5'" class="item item-input item-select">
          <div class="input-label"> Radius </div>
          <select ng-model="radius" ng-change="radiusChange(radius)">
            <option value=0>0 m</option>
            <option value=10>10 m</option>
            <option value=100>100 m</option>
            <option value=1000>1000 m</option>
          </select>
        </label>
        <label ng-if="profielId === '5'" class="item item-input item-select">
          <div class="input-label"> Afstand filter </div>
          <select ng-model="distanceFilter" ng-change="distanceFilterChange(distanceFilter)">
            <option value=0>0 m</option>
            <option value=2>2 m</option>
            <option value=5>5 m</option>
            <option value=10>10 m</option>
            <option value=25>25 m</option>
            <option value=50>50 m</option>
            <option value=100>100 m</option>
            <option value=250>250 m</option>
            <option value=500>500 m</option>
            <option value=1000>1000 m</option>
          </select>
        </label>
        <ion-toggle ng-if="+profielId === 4 || +profielId === 5" ng-model="gpsDebug.checked" ng-change="gpsDebugChange()">
          Debug</ion-toggle>
        <div ng-if="+profielId === 5" class="item item-divider">
          <div>Camera</div>
        </div>
        <label ng-if="+profielId === 4 || +profielId === 5" class="item item-input item-select">
          <div class="input-label"> Kwaliteit foto </div>
          <select ng-model="quality" ng-change="qualityChange(quality)">
            <option value=20>20</option>
            <option value=30>30</option>
            <option value=40>40</option>
            <option value=50>50</option>
            <option value=60>60</option>
            <option value=70>70</option>
            <option value=80>80</option>
            <option value=90>90</option>
            <option value=100>100</option>
          </select>
        </label>
        <!--
        <label class="item item-input item-select">
          <div class="input-label">
            Bestemming
          </div>
          <select>
            <option>Data</option>
            <option selected>Bestand</option>
            <option>Native</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Encoding type
          </div>
          <select>
            <option>JPG</option>
            <option selected>PNG</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Media type
          </div>
          <select>
            <option selected>Foto</option>
            <option>Video</option>
            <option>Beide</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Bron
          </div>
          <select>
            <option selected>Camera</option>
            <option>Foto bibliotheek</option>
            <option>Camera roll</option>
          </select>
        </label>
      -->
        <div class="item item-divider">
          <div>TRINL update</div>
        </div>
        <ion-toggle ng-model="xupdate.checked" ng-change="updateChange()">Automatisch
        </ion-toggle>
      </div>
    </ion-list>
  </ion-content>
  </vion-view>