<div class="modal modalKaartOptions">

	<ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button ng-click="closeModalKaartOpties()" class="button button-icon icon ion-ios-arrow-back"></button>
        </div>
		<h1 class="title">Kaart Opties</h1>
	</ion-header-bar>
	<ion-content>
        <ion-list>
            <div class="item myitem-divider">
                Kaarten
            </div>

            <div class="item myitem-subdivider">
                Limburg heden
            </div>

            <ion-item class="item-button-right" ng-repeat="kaart in configKaartHedenItems" ng-click="changeHedenKaart()">
                <i ng-show="currentKaartIndex == 0" class="button-icon icon my-icon ion-checkmark"></i>
                {{kaart.naam}}
                <button ng-click="openLegenda(0); $event.stopPropagation();" class="button button-icon">
                    <i class="button-icon iconinlistitem icon ion-ios-information-outline"></i>
                </button>
            </ion-item>

            <div class="item myitem-divider">
                Limburg toekomst
            </div>

            <ion-item class="item-button-right" ng-repeat="kaart in configKaartToekomstItems" ng-click="changeToekomstKaart($index + aantalKaartHedenItems - 1)">
                <i ng-show="currentKaartIndex == $index + aantalKaartHedenItems" class="button-icon icon my-icon ion-checkmark"></i>
                {{kaart.naam}}
                <button ng-click="openLegenda($index + 1); $event.stopPropagation();" class="button button-icon">
                    <i class="button-icon iconinlistitem icon ion-ios-information-outline"></i>
                </button>
            </ion-item>

            <div class="item myitem-divider">
                Limburg verleden
            </div>

            <ion-item class="item-button-right" ng-repeat="kaart in configKaartVerledenItems" ng-click="changeVerledenKaart($index + aantalKaartHedenItems - 1)">
                <i ng-show="currentKaartIndex - aantalKaartToekomstItems == $index + aantalKaartHedenItems" class="button-icon icon my-icon ion-checkmark"></i>
                {{kaart.naam}}
                <button ng-click="openLegenda($index + aantalKaartToekomstItems + 1); $event.stopPropagation();" class="button button-icon">
                    <i class="button-icon iconinlistitem icon ion-ios-information-outline"></i>
                </button>
            </ion-item>

            <ion-item ng-if="ceo.uitgelogd === '1'" item-type="item-icon-left" nav-clear ng-click="grendelen();$event.stopPropagation();">
                <i class="icon my-icon24 ion-icon ion-locked"></i>
                Kaart 1800 ontgrendelen
            </ion-item>
            <ion-item ng-if="ceo.uitgelogd !== '1'" item-type="item-icon-left" nav-clear ng-click="revokePermissions();$event.stopPropagation();">
                <i class="icon my-icon24 ion-icon ion-unlocked"></i>
                Kaart 1800 vergrendelen
            </ion-item>

            <div class="range">
                <input type="range" name="opacity" min="0" max="100" value="{{opacity.value}}" ng-model="opacity.value">
                <i class="icon ion-ios-sunny-outline"></i>
                <div style="width:38px">{{oLevel}}%</div>
            </div>

            <ion-item ng-if="allowPreCache" item-type="item-icon-left" nav-clear ng-click="openPreCache($event)">
                <i class="icon my-precache-icon24 ion-icon ion-refresh"></i>
                Vooraf kaarten laden
            </ion-item>

            <div class="item-button-right item myitem-divider">
                Lagen
                <button ng-click="openLagen($event)" class="button button-icon">
                    <i class="button-icon iconinlistitemdivider icon ion-ios-information-outline"></i>
                </button>
            </div>

            <ion-checkbox ng-model="provinciegrens" ng-disabled="!isProvinciegrens" ng-change="provinciegrensChange()">
                Provinciegrens
            </ion-checkbox>

            <ion-checkbox ng-model="gemeentegrenzen" ng-disabled="!isGemeentegrenzen" ng-change="gemeentegrenzenChange()">
                Gemeentegrenzen 2019
            </ion-checkbox>

            <ion-checkbox ng-model="water" ng-disabled="!isWater" ng-change="waterChange()">
                Rivieren en beken 2010
            </ion-checkbox>
            <ion-checkbox ng-model="plaatsnamen" ng-disabled="!isPlaatsnamen" ng-change="plaatsnamenChange()">
                Plaatsnamen
            </ion-checkbox>

            <ion-checkbox ng-model="achterban" ng-disabled="!isAchterban" ng-change="achterbanChange()">
                Aangesloten organisaties
            </ion-checkbox>

            <div class="item-button-right item myitem-divider">
                Gebruiker gegevens
            </div>

            <ion-checkbox ng-if="profiel == 'developer'" ng-model="poi" ng-disabled="overlaysReadyNr <= 1" ng-change="poiChange()">
                Locaties
            </ion-checkbox>

            <ion-checkbox ng-if="profiel == 'developer'" ng-model="track" ng-disabled="overlaysReadyNr <= 1" ng-change="trackChange()">
                Track
            </ion-checkbox>

            <ion-checkbox ng-if="profiel == 'developer'" ng-model="foto" ng-disabled="overlaysReadyNr <= 1" ng-change="fotoChange()">
                Foto
            </ion-checkbox>



        </ion-list>
	</ion-content>
</div>
