<ion-view title="Privacyverklaring">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-content>
    <ion-list>
      <div class="item item-body">
        <p>Privacyverklaring TRINL app De Natuur en Milieufederatie Limburg, gevestigd aan Kapellerpoort 1 te Roermond,
          is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.</p>
        <p>Contactgegevens:</p>
        <p>Kapellerpoort 1 <br>6041 HZ Roermond <br>0475-38 64 10 <br>www.nmflimburg.nl <br>
        </p>
        <p><b>Persoonsgegevens die wij verwerken</b></p>
        <p>De Natuur en Milieufederatie Limburg verwerkt je persoonsgegevens doordat je gebruik maakt van de TRINL app
          en/of omdat je deze zelf aan ons verstrekt.</p>
        <p>Hieronder vind je een overzicht van de persoonsgegevens die wij verwerken:</p>
        <p>- E-mailadres<br>- Locatiegegevens<br>- Gegevens over je activiteiten op onze app<br>- Apparaat type<br>
        </p>
        <p><b>Bijzondere en/of gevoelige persoonsgegevens die wij verwerken</b></p>
        <p>De TRINL app heeft niet de intentie gegevens te verzamelen over bezoekers die jonger zijn dan 16 jaar. Tenzij
          ze toestemming hebben van ouders of voogd. We kunnen echter niet controleren of een bezoeker ouder dan 16 is.
          Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te voorkomen
          dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als je er van overtuigd bent dat
          wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, neem dan contact met
          ons op via info@nmflimburg.nl, dan verwijderen wij deze informatie.</p>
        <p><b>Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken</b></p>
        <p>De Natuur en Milieufederatie Limburg verwerkt je persoonsgegevens voor de volgende doelen:</p>
        <p>- Je de mogelijkheid te bieden een account aan te maken<br>- Je te informeren over wijzigingen van onze
          diensten en producten<br>- Verzenden van onze TRINL nieuwsbrief</p>
        <p>De Natuur en Milieufederatie Limburg analyseert je gedrag op de app om daarmee de app te verbeteren en het
          aanbod van producten en diensten af te stemmen op jouw voorkeuren.</p>
        <p><b>Geautomatiseerde besluitvorming</b></p>
        <p>De Natuur en Milieufederatie Limburg neemt niet op basis van geautomatiseerde verwerkingen besluiten over
          zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier om besluiten die worden genomen
          door computerprogramma's of -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van de Natuur en
          Milieufederatie Limburg) tussen zit.</p>
        <p><b>Hoe lang we persoonsgegevens bewaren</b></p>
        <p>De Natuur en Milieufederatie Limburg bewaart je persoonsgegevens niet langer dan strikt nodig is om de doelen
          te realiseren waarvoor jouw gegevens worden verzameld.</p>
        <p><b>Delen van persoonsgegevens met derden</b></p>
        <p>De Natuur en Milieufederatie Limburg verstrekt uitsluitend aan derden en alleen als dit nodig is voor de
          uitvoering van onze overeenkomst met jou of om te voldoen aan een wettelijke verplichting.</p>
        <p><b>Cookies, of vergelijkbare technieken, die wij gebruiken</b></p>
        <p>De Natuur en Milieufederatie Limburg gebruikt geen cookies of vergelijkbare technieken.</p>
        <p><b>Gegevens inzien, aanpassen of verwijderen</b></p>
        <p>Je hebt het recht om jouw persoonsgegevens in te zien, te corrigeren of te verwijderen. Daarnaast heb je het
          recht om je eventuele toestemming voor de gegevensverwerking in te trekken of bezwaar te maken tegen de
          verwerking van je persoonsgegevens door de Natuur en Milieufederatie Limburg en heb je het recht op
          gegevensoverdraagbaarheid. Dat betekent dat je bij ons een verzoek kunt indienen om de persoonsgegevens van
          jou waarover wij beschikken in een computerbestand naar jou of een ander, door jou genoemde organisatie, te
          sturen.</p>
        <p>Je kunt een verzoek tot inzage, correctie, verwijdering, gegevensoverdraging van je persoonsgegevens of
          verzoek tot intrekking van je toestemming of bezwaar op de verwerking van je persoonsgegevens sturen naar
          info@nmflimburg.nl.</p>
        <p>Om er zeker van te zijn dat het verzoek tot inzage door jou is gedaan, vragen wij je een kopie van je
          identiteitsbewijs met het verzoek mee te sturen. Maak in deze kopie je pasfoto, MRZ (machine readable zone, de
          strook met nummers onderaan het paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter
          bescherming van je privacy. We reageren zo snel mogelijk, maar binnen vier weken, op je verzoek.</p>
        <p>De Natuur en Milieufederatie Limburg wil je er tevens op wijzen dat je de mogelijkheid hebt om een klacht in
          te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan via de volgende link:
          https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons</p>
        <p><b>Hoe wij persoonsgegevens beveiligen</b></p>
        <p>De Natuur en Milieufederatie Limburg neemt de bescherming van je gegevens serieus en neemt passende
          maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging
          tegen te gaan. Als je de indruk hebt dat je gegevens niet goed beveiligd zijn of er aanwijzingen zijn van
          misbruik, neem dan contact op met onze klantenservice of via info@nmflimburg.nl</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>