<div class="modal editormodal">

	<ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button ng-click="closeModalReactie()" class="button button-icon icon ion-ios-arrow-back"> Sluit</button>
        </div>
		<h1 class="title">Reactie</h1>
            <button ng-click="saveReactie(input)" class="button button-icon icon ion-checkmark"> Opslaan </button>
	</ion-header-bar>

	<ion-content class="padding">

        <ion-input class="item item-input">
			<textarea class="msd-elastic: \n;" ng-model="input.tekst" cols="{{editorCols}}"></textarea>
        </ion-input>

	</ion-content>

</div>
