<ion-view title="Reset gebruiker">

    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-content scroll="true" class="has-header">
		<ion-list>
			<div class="item item-divider">
				Toelichting
			</div>
			<ion-item class="item item-body">
			    <p><b>Gebruik reset bijvoorbeeld om te switchen tussen 2 gebruikers.</b><p>
				<p>Je gegevens staan altijd veilig opgeborgen in de cloud.</p>
	    		<p>De, momenteel op dit apparaat, ingelogde gebruiker wordt verwijderd. TRINL start opnieuw op met een anonieme gebruiker. Je kunt daarna via het inlogscherm van de Trachot (1800) kaarten weer inloggen met een gebruiker naar keuze. Ook kun je via ditzelfde scherm via registreren een nieuwe account aanmaken.</p>
			</ion-item>
			<ion-item>
				<button class="button button-balanced button-block " ng-click="reset()">
			  		Reset		
				</button>
			</ion-item>
		</ion-list>
    </ion-content>

</ion-view>
