<div class="modal settingmodal" ng-controller="SettingCtrl">

	<ion-header-bar class="bar-balanced">
	    <div class="buttons">
	        <button ng-click="closeModalSetting()" class="button button-icon icon ion-navicon"></button>
	    </div>
	    <h1 class="title">Instellingen modal</h1>
	</ion-header-bar>

	<ion-content class="has-header">


	Hier komen diverse instellingen

	zoomlevel geosearch

	Keuze uit baselayers
	Foto options
	GPS tracking options
	Zoomlevel voor geolocation
	Crosshair picture
	
	Size Filesystem offline

	</ion-content>
</div>