<ion-view title="Selecteer label tags">

    <ion-nav-back-button>
    </ion-nav-back-button>

    <button ng-if="global.filtertags.length === 0" ng-click="addNieuweLabel(search.label)" class="button button-icon icon ion-plus"></button>

    <ion-content>
        <p class="padding trinl-blauw">Selecteer een label of zoek een label.<br>Indien label niet gevonden tap op '+' om label toe te voegen</p>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Zoek label" ng-model="search.label">
            </label>
            <button ng-click="clearSearchLabel()" class="button-clear button-medium ion-close-circled">
            </button>
        </div>
        <ion-item ng-click="selectLabelClick(tag)" ng-repeat="tag in ( global.filtertags = ( global.tags | orderBy: tag.tag.value | filter: {tag: {value: search.label }}))">
            {{tag.get('tag')}}
        </ion-item>
    </ion-content>

</ion-view>

