<ion-popover-view style="height:500px; width: 500px;">
  <ion-header-bar class="bar-balanced">
    <button ng-click="closeTags()" class="button button-icon icon ion-ios-arrow-back"></button>
    <h1 class="title">Selecteer label</h1>
    <button ng-if="global.filtertags.length === 0" ng-click="addNieuweLabel(search.label)"
      class="button button-icon icon ion-plus">&nbsp;Voeg toe</button>
  </ion-header-bar>
  <ion-content>
    <!--
        <div class="row">

            <div class="col col-50">
                <div class="row">
                    <p class="padding trinl-blauw">Selecteer een label in onderstaande lijst. Indien deze te lang is kun je door middel van zoeken het aantal labels verkleinen. Voer daarvoor de zoektekst in, in het zoekvenster. De lijst toont dan alle labels waarin deze tekst voorkomt. Als je het label gevonden hebt, selecteer het in de lijst, het label wordt dan toegevoegd aan de locatie.</p>
                </div>
                <button class="button button-block button-positive" ng-click="selecterenTagHelp()">Label selecteren</button>
            </div>
            <div class="col col-50">
                <div class="row">
                    <p class="padding trinl-blauw">Wanneer de tekst niet te vinden is door middel van het zoekvenster verschijnt rechtsboven een plus-teken met de tekst ‘Voeg toe’. Klik hier om de getypte tekst uit het zoekvenster als label toe te voegen aan de lijst. Het label wordt tevens toegevoegd aan de gekozen locatie.</p>
                </div>
                <button class="button button-block button-positive" ng-click="toevoegenTagHelp()">Label toevoegen</button>
          </div>
        </div>
      -->
    <ion-item class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" class="detectFocus" placeholder="Zoek label" ng-model="search.label">
      </label>
      <button ng-if="search.label.length" ng-click="clearSearch()"
        class="input-button button button-icon ion-close-circled">
      </button>
    </ion-item>
    <div class="row">
      <p class="padding trinl-geel"><b>Selecteer een label in onderstaande lijst of maak een eigen label aan.</b></p>
    </div>
    <ion-list click-for-options-wrapper>
      <!-- <ion-item ng-repeat="tag in ( global.filtertags = ( global.tags | filter: {tag.tag: search.tagNaam}))"> -->
      <ion-item ng-click="selectLabelClick(tag)"
        ng-repeat="tag in ( global.filtertags = ( global.tags | regexStoreBegin: 'tag': search.label)) track by $index">
        <ion-option-button class="button-balanced" ng-show="tag.get('gebruikerId') == ceo.Id"
          ng-click="editTag(tag)">
          <div class="aligner"></div><i class="radio-icon ion-edit"></i>&nbsp;Wijzig
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-show="tag.get('gebruikerId') == ceo.Id"
          ng-click="deleteTag(tag)">
          <div class="aligner"></div><i class="radio-icon ion-trash-b"></i>&nbsp;Verwijder
        </ion-option-button>
        <ion-option-button class="trinl-geel" ng-show="tag.get('Id').length <= 3 && tag.get('gebruikerId') === ''" ng-click="infoTag(tag)">
          <div class="aligner"></div><i class="radio-icon ion-trash-b"></i>&nbsp;Info
        </ion-option-button>
        <div ng-if="tag.get('Id').length <= 3 && tag.get('gebruikerId') === ''"><span class="trinl-blauw">{{tag.get('tag')}}</span></div>
        <div ng-if="tag.get('Id').length <= 3 && tag.get('gebruikerId') !== ''"><span class="trinl-rood">{{tag.get('tag')}}</span></div>
        <div ng-if="tag.get('Id').length > 3">{{tag.get('tag')}}</span></div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>