<ion-popover-view style="height:420px; width: 300px;">
  <ion-header-bar class="bar-balanced">
    <button ng-click="closeDoelgroep()" class="button button-icon icon ion-ios-arrow-back"></button>
    <h1 class="title">Doelgropen</h1>
  </ion-header-bar>

  <ion-content>
    <ion-list click-for-options-wrapper>
      <ion-item ng-click="selectLabelClick(tag)"
        ng-repeat="doelgroep in doelgroepen | orderBy:'doelgroep.doelgroep' | regexStoreBegin: doelgroep: search.label))">
        <ion-option-button class="button-assertive" ng-show="doelgroep.gebruikerId !== ceo.Id"
          ng-click="verwijderDoelgroep(doelgroep, $index)">
          <div class="aligner"></div><i class="radio-icon ion-trash-b"></i>Verwijder
        </ion-option-button>
        {{doelgroep.doelgroep}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
